 <style>
    :root {
      --fade-in-speed: 1s;
      --fade-out-speed: 0.5s;
    }

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  text-align: center;
}

.text-container h1 {
  font-size: 3rem;
  color: #201e1fff;
  transition: opacity var(--fade-in-speed) ease-in-out;
}

.text-container h2 {
  font-size: 1rem;
  color: #fff;
  transition: opacity var(--fade-in-speed) ease-in-out;
}

.text-container h3 {
  font-size: 1rem;
  color: #201e1fff;
  transition: opacity var(--fade-in-speed) ease-in-out;
}

.scroll-down {
  position: relative;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  opacity: 0;
  animation: blink 1.5s infinite;
  z-index: 20;
}

.scroll-down .arrow {
  display: block;
  font-size: 2rem;
  margin-top: 5px;
  animation: bounceArrow 1s infinite;
}

/* Animations */
@keyframes blink {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes bounceArrow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}
